
.icon-spin5:before { content: '\e800'; } /* '' */
.icon-quote-left:before { content: '\e806'; } /* '' */
.icon-quote-right:before { content: '\e807'; } /* '' */
.icon-up-big:before { content: '\e808'; } /* '' */
.icon-home:before { content: '\e80b'; } /* '' */
.icon-right-big:before { content: '\e80c'; } /* '' */
.icon-down-big:before { content: '\e80d'; } /* '' */
.icon-phone:before { content: '\e80e'; } /* '' */
.icon-help:before { content: '\f128'; } /* '' */